.con{
    background-image:url("C:/Users/Dhouha/Desktop/mini projet mobile hybride/diary_project/src/assets/pink.jpg");
}
.container{
    background-image:url("C:/Users/Dhouha/Desktop/mini projet mobile hybride/diary_project/src/assets/pink.jpg");
    padding: 6px 20px;
    
   
.ion-item{
    align-items: center !important;
   
    background: pink;

    border-color: black;
    border: 10px;
    
    border-radius: 10% ;
}
.ion-row{
    border-radius: 10% ;
    padding-bottom: 10px; 
    background: pink;

}
.police2{
    color:antiquewhite;
    font-size: 28px;
    font-family: "Adobe Arabic", cursive;
    
}
.police4{
    color:black;
    font-size: 22px;
    font-family: "Adobe Arabic", cursive;
    
}
.police{font-size: x-small;
    
}
.police3{
    font-family: "Brush Script MT", cursive; 
    font-size: 36px; 
    font-style: italic; 
    font-variant: normal; font-weight:bold; line-height: 26.4px;
    color: rgb(235, 151, 200);
}
.ion-align-items-center{
    padding-bottom: 10px;
    background: #FFAAE8 ;
    margin-bottom: 10px;
    border-radius: 10px;

}
.ion-grid{
    background-image:url("C:/Users/Dhouha/Desktop/mini projet mobile hybride/diary_project/src/assets/pink.jpg");
    border-radius: 50%;
    margin-bottom: 50px;
    
  

}
.ion-col{
    background: pink;
    
}

.h2{
    font-family: "Brush Script MT", cursive;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: cadetblue;
}
}
